*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0e0e0e;
    color:#fff;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#000,#1a1a1a);
}

.hero h1{
    font-size:4rem;
    letter-spacing:4px;
}

.hero p{
    color:#aaa;
    margin:15px 0;
}

.btn{
    margin-top:20px;
    padding:12px 30px;
    background:#fff;
    color:#000;
    text-decoration:none;
    border-radius:30px;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    background:#ccc;
}

.about{
    max-width:900px;
    margin:80px auto;
    padding:20px;
}

.about h2{
    font-size:2.2rem;
    margin-bottom:15px;
}

.about p{
    color:#ccc;
}

.details{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:20px;
}

.details span{
    background:#1f1f1f;
    padding:8px 15px;
    border-radius:20px;
    font-size:14px;
}

.gallery{
    padding:50px 20px;
    text-align:center;
}

.gallery h2{
    font-size:2.2rem;
    margin-bottom:30px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    
}

.grid img{
    width:100%;
    border-radius:12px;
    transition:0.4s;
}

.grid img:hover{
    transform:scale(1.07);
}
/* LIGHTBOX */
#lightbox{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#lightbox img{
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    display: block;
}


#close{
    position:absolute;
    top:20px;
    right:30px;
    font-size:40px;
    color:white;
    cursor:pointer;
    font-weight:bold;
}


footer{
    padding:20px;
    text-align:center;
    color:#777;
}
